h1 {
    font-family: 'Playfair Display',serif;
    font-size: 16em;
    padding: 0;
    margin: 0;
    text-align: center;
  }

  h2 {
    text-align: center;
    font-size: 2em;
  }

  h3 {
      text-align: center;
      font-size: 6em;
  }

  span.style {
    font-style: italic;
  }
